.nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
}

.toggler {
  cursor: pointer;
  margin-right: 20px;
}

.toggler span {
  display: block;
  width: 20px;
  height: 6px;
  border-top: 2px solid #000000;
}

.btn img {
  width: 22px;
  margin-right: 20px;
}

.btn:last-child img {
  margin-right: 0;
}

.linksWrapperMedium {
  display: none;
}

.linksWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 175, 175, 0.671);
  transition: all 0.2s linear;
  z-index: 9999;
}

.list {
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: #fff;
  padding: 20px;
}

.linksWrapper ul {
  animation-duration: 0.5s;
}

.listItem {
  margin-bottom: 20px;
}

.buttonsWrapper {
  display: flex;
}

.togglerWrapper {
  display: flex;
}

.smallNone {
  display: none;
}

.smallDisplay {
  display: block;
}

@media (min-width: 768px) {
  .linksWrapper {
    display: block;
  }
  .smallNone {
    display: block;
  }
  .togglerWrapper {
    display: none;
  }
  .smallDisplay {
    display: none;
  }
  .linksWrapperMedium {
    display: flex;
  }
  .list {
    display: flex;
    width: auto;
    height: auto;
    padding: 0;
    position: unset;
  }

  .listItem {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .listItem:last-child {
    margin-right: 0;
  }
  .btn img {
    margin-right: 30px;
  }
}
