.carousel {
  position: relative;
}

.logo {
  margin-bottom: 20px;
}

.carouselTextWrapper {
  width: 420px;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  top: 30px;
  font-size: 18px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #000000;
}

.brandText {
  font-weight: 600;
  font-size: 20px;
  margin-right: 10px;
}

.imageOne {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../assets/images/sliderImgOne.jpg);
}

.imageTwo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../assets/images/sliderImgTwo.jpg);
}

.imageThree {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../../assets/images/sliderImgThree.jpg);
}

.slider {
  height: 440px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
